body{
    font-family: Roboto, sans-serif;
}
.mask-progress{
    position:absolute;;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
    padding-top: 200px;
}

.main-component{
    height:100%;
    width:100%;
}

.content-header{
    padding:10px;
    height:40px;
    margin-bottom:1px;
    background-color:rgb(0, 188, 212) !important;
    color:#FFFFFF !important;
}


.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.edit-button-icon{
    background: #ffffff url("img/edit.png") no-repeat right top;
    background-size: 32px 32px;
    width:32px;
    height:32px;
}

.edit-button-icon:hover{
    opacity: 0.5;
}

.detail-button-icon{
    background: #ffffff url("img/detail.png") no-repeat right top;
    background-size: 32px 32px;
    width:32px;
    height:32px;
}

.detail-button-icon:hover{
    opacity: 0.5;
}

.delete-button-icon{
    background: #ffffff url("img/delete.png") no-repeat right top;
    background-size: 32px 32px;
    width:32px;
    height:32px;
}

.delete-button-icon:hover{
    opacity: 0.5;
}

.execute-button-icon{
    background: #ffffff url("img/play.png") no-repeat right top;
    background-size: 32px 32px;
    width:32px;
    height:32px;
}

.execute-button-icon:hover{
    opacity: 0.5;
}

.header-container{
    padding:10px;
    padding-bottom: 40px;
    border-bottom: 1px solid #777777;
    height:30px;
}

.header-title{
    float: left;
    font-family: Roboto, sans-serif;
    color: rgb(0, 188, 212);
    padding-top: 5px;
    font-size: 18px;
    margin-left:10px;
}

.header-buttons{
    float: right;
}

.back-button{
    float: left;
    background: #ffffff url("img/back.png") no-repeat right top;
    background-size: 32px 32px;
    background-color: transparent;
    width:32px;
    height:32px;
    cursor: pointer;
}

.create-report-container{
    min-height: 100px;
}

.create-report-summary{
    margin:10px;
    min-height:100px;

}
.summary-section{

}

.summary-section-header{
    padding:5px;
    font-weight: bold;
    color:#777777;
    border-bottom: 1px solid #DDDDDD;
}

.summary-section-content{
    padding:5px;
    max-height: 150px;
    overflow-y: auto;
}

.column-container{
    padding:5px;
    min-width: 60px;
    text-align: center;
    color:#333333;
    /*border:1px solid #DDDDDD;*/
    margin:2px;
    float:left;
    cursor: pointer;
}

.column-selected{
    color:#00C853;
}

.column-container:hover{
    opacity: 0.5;
}

.column-selection-search-box{

}

.columns-container{
    max-height: 180px;
    min-height: 100px;
    overflow-y: auto;
}

.where-clause-header{
    padding:10px;
}

.add-where-box{

}

.where-clause-row{
    padding:10px;
    clear:both;
}

.condition-label{
    color:#777777;
    float:left
}

.header{
    height:55px;
    /*background: linear-gradient(rgb(0, 33, 71) 0%, rgb(0, 39, 81) 21%, rgba(0, 60, 120, 0.960784) 100%);*/
    background-color: #3949ab;
    border-bottom: 2px solid rgb(249, 148, 38);
}

.logo-container{
    float: left;
    height: 55px;
    width: 150px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #FFFFFF;
}

.user-info{
    float:right;
    color:#FFFFFF;
}

.user-name-box{
    float: left;
    height: 55px;
    line-height: 3.5;
    margin-right: -15px;
}

.right-more-button{
    float:right;
    color:#FFFFFF;
    padding-top:5px;
}

.left-collapse-button{
    float:left;
    color:#FFFFFF;
    padding-top:5px;
}

.body-container{
    clear:both;
}
.center-container{
    background-color: rgb(236,236,236);
    float:left;
}
.left-navigation-open{
    width:150px;
    float:left;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}
.left-navigation-close{
    width:50px;
    float:left;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}
.powered-by-logo-container{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:100px;
    background-color: rgb(248,248,248);
}

.powered-by-logo{
    height: 100px;
    width: 150px;
    background-image: url("img/poweredBy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.left-option{
    width: 150px;
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
    position:relative;
    text-align: center;
    line-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgba(117,117,117,.9);
}
.left-option-close{
    width: 50px;
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
    position:relative;
    text-align: center;
    line-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgba(117,117,117,.9);
}
.left-option:hover{
    opacity: 0.5;
}

.left-option-selected{

    width: 150px;
    background: rgba(40,53,147,0.0470588);
    /*background: rgb(24,118,211);*/
    /*background: #3949ab;*/
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
    position:relative;
    text-align: center;
    line-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    /*color:#36459b;*/
    /*color:#FFFFFF;*/
    color:rgb(54, 69, 155);
}
.left-option-selected-close{

    width: 50px;
    background: rgba(40, 53, 147, 0.0470588);
   /* background: rgb(24,118,211);*/
    /*background: #3949ab;*/
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
    position:relative;
    text-align: center;
    line-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    /*color:#36459b;*/
    color:#FFFFFF;
}
.selection-marker{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid blue;
    right:0;
    top:40px;
    background-position: center;
    background-repeat: no-repeat;
}